.top-navigator {
    background-color: #ddd;
    width: 100%;
    padding: 10px;
}

.footer {
    background-color: #ddd;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.destination-wrapper {
    display: flex;
    padding: 30px 100px;
    width: calc(100% - 500px);
    padding-left: 350px;
}

.destination {
}

.date-range {
    margin-left: 30px;
}

.date-range-input {
    width: 216px;
    height: 41px;
    border-radius: 3px;
    text-align: center;
}

.body {
    display: flex;
}

.body-wrapper {
    position: relative;
}

.left-filters {
    width: 350px;
    min-height: 700px;
    padding-left: 10px;
}

.filters-title {
    font-size: 18px;
    font-weight: 500;
}

.rating-wrapper {
    padding-top: 10px;
}

.rating-wrapper input {
    margin-right: 5px;
}

.location-filter {
    width: 216px;
    height: 41px;
    border-radius: 3px;
}

.hotel-offers {
    width: 100%;
    min-height: 900px;
    margin-bottom: 40px;
}

.hotel-offers.alert-warning {
    height: 200px;
     min-height: 0 ;
}

.offer {
    padding: 30px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #888;
    margin-bottom: 10px;
    display: flex;
}

.offer:hover {
    background-color: #ddd;
    border-color: #3b9eff;
}

.hotel-image {
    width: 270px;
    height: 200px;
    margin-right: 10px;
}

.hotel-image img {
    width: 100%;
    height: 100%;
}

.hotel-data {
    flex-basis: auto;
    width: 30%
}

.hotel-destination, .hotel-location, .avg-per-night {
    font-size: 14px;
    color: #444;
}

.hotel-secondary-data {
    max-width: 50%;
    flex-basis: auto;
    margin-left: auto;
    text-align: right;
}

.cross-out {
    text-decoration: line-through;
    color: #888;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: inline-block;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

.loader {
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}