<div class="container">
  <div class="header">
    <a id="header-logo" data-tid="header-logo" href="/" target="_top" data-omniture-id="Header.Logo">
      <img itemprop="image" alt="www.expedia.com" src="//www.expedia.com/_dms/header/logo.svg?locale=en_US&amp;siteid=1&amp;test=Storefront_2017_B2P_variant_2" onerror="this.src=this.src.replace('.svg?','.png?');this.onerror='';this.style='';" style="font-size:0;" border="0">
    </a>
  </div>
  <div class="body">
    <div class="left-filters"> filters</div>
    <div class="hotel-offers" *ngIf="_data">
      <div class="offer"  *ngFor="let offer of offers">
        <div class="hotel-image"><img src="{{offer.hotelInfo.hotelImageUrl}}"></div>
        <div class="hotel-data">
          <div class="hotel-name">{{offer["hotelInfo"]["hotelName"]}}</div>
          <div class="hotel-destination">{{offer["hotelInfo"]["hotelDestination"]}}</div>
          <div class="hotel-location">{{offer["hotelInfo"]["hotelStreetAddress"]}}</div>
        </div>
        <div class="hotel-secondary-data">
          <div class="hotel-rating">{{offer["hotelInfo"]["hotelGuestReviewRating"]}}/5 {{offer["hotelInfo"]["hotelGuestReviewRating"] | rateOrdinal}}</div>
          <div class="hotel-rating"><span class="cross-out">${{round(offer["hotelPricingInfo"]["crossOutPriceValue"] )}}</span> ${{round(offer["hotelPricingInfo"]["averagePriceValue"] ) }}</div>


        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    footer
  </div>
</div>