<div class="container">
  <div class="header">
    <a id="header-logo" data-tid="header-logo" href="/" target="_top" data-omniture-id="Header.Logo">
      <img itemprop="image" alt="www.expedia.com" src="//www.expedia.com/_dms/header/logo.svg?locale=en_US&amp;siteid=1&amp;test=Storefront_2017_B2P_variant_2" onerror="this.src=this.src.replace('.svg?','.png?');this.onerror='';this.style='';" style="font-size:0;" border="0">
    </a>
    <div class="destination-wrapper">
      <div class="destination">
        <label>Location</label>&nbsp;<input id="searchTextField" class="location-filter" type="text" [(ngModel)]="location" />
      </div>
      <div class="date-range">
        <div>DATES</div>
        <div>{{startDate}}</div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="left-filters">
      <div class="rating-wrapper">
        <div>Guest Rating</div>
        <input name="guestRating" ng-control="options" (change)="onRatingChange(entry)" type="radio" [value]="5"  [(ngModel)]="guestRating" >Exceptional! 5/5<br/>
        <input name="guestRating" ng-control="options"  (change)="onRatingChange(entry)" type="radio" [value]="4" [(ngModel)]="guestRating" >Very Good! 4/5 & up<br/>
        <input name="guestRating" ng-control="options"  (change)="onRatingChange(entry)" type="radio" [value]="3.5" [(ngModel)]="guestRating" >Good! 3.5/5 & up<br/>
      </div>
      <div class="rating-wrapper">
        <div>Property Class</div>

        <input name="starRating" ng-control="options" (change)="onRatingChange(entry)" type="radio" [value]="5"  [(ngModel)]="starRating" >
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div> 5 Stars<br/>
        <input name="starRating" ng-control="options"  (change)="onRatingChange(entry)" type="radio" [value]="4" [(ngModel)]="starRating" >
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div> 4 Stars<br/>
        <input name="starRating" ng-control="options"  (change)="onRatingChange(entry)" type="radio" [value]="3" [(ngModel)]="starRating" >
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span>
      </div> 3 Stars<br/>
      </div>

      <div class="rating-wrapper">
        <div>Price Per Night</div>
        <input name="priceOptions" ng-control="options" (change)="onRatingChange(entry)" type="radio" [value]="1"  [(ngModel)]="priceOptions" >Less than $75<br/>
        <input name="priceOptions" ng-control="options"  (change)="onRatingChange(entry)" type="radio" [value]="2" [(ngModel)]="priceOptions" >$75 to $124<br/>
        <input name="priceOptions" ng-control="options"  (change)="onRatingChange(entry)" type="radio" [value]="3" [(ngModel)]="priceOptions" >$125 to $199<br/>
        <input name="priceOptions" ng-control="options"  (change)="onRatingChange(entry)" type="radio" [value]="4" [(ngModel)]="priceOptions" >$200 to $299<br/>
        <input name="priceOptions" ng-control="options"  (change)="onRatingChange(entry)" type="radio" [value]="5" [(ngModel)]="priceOptions" >Higher than $300<br/>
      </div>
    </div>
    <div class="loader" *ngIf="loading">Loading...</div>
    <div class="hotel-offers" *ngIf="!loading && offers">
      <div class="offer"  *ngFor="let offer of offers">
        <div class="hotel-image"><img src="{{replcaeImageLink(offer.hotelInfo.hotelImageUrl)}}"></div>
        <div class="hotel-data">
          <div class="hotel-name">{{offer["hotelInfo"]["hotelName"]}}</div>
          <div class="hotel-destination">{{offer["hotelInfo"]["hotelDestination"]}}</div>
          <div class="hotel-location">{{offer["hotelInfo"]["hotelStreetAddress"]}}</div>
        </div>
        <div class="hotel-secondary-data">
          <div class="hotel-rating">{{offer["hotelInfo"]["hotelGuestReviewRating"]}}/5 {{offer["hotelInfo"]["hotelGuestReviewRating"] | rateOrdinal}}</div>
          <div class="hotel-rating"><span class="cross-out">${{round(offer["hotelPricingInfo"]["crossOutPriceValue"] )}}</span> ${{round(offer["hotelPricingInfo"]["totalPriceValue"] ) }}</div>


        </div>
      </div>
    </div>
    <div class="hotel-offers warning" *ngIf="!loading && !offers">
      No Data Available
    </div>
  </div>
  <div class="footer">
    footer
  </div>
</div>